body {
    min-height: 100vh;
    font-family: sans-serif;
    color: black;
    background: linear-gradient(45deg, rgb(7, 143, 197),rgb(81, 240, 142));
    padding: 4rem 0;
}

h1,h2 {
    margin-bottom: 2rem;
    text-align: center;
}

h2 {
    margin-top: 2rem;
}

.box {
    padding: 10px;
    background: white;
    text-align: center;
    border: 1px solid black;
    
}